/* @import url("./import-cdn.css"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}
.pricing {
    max-width: 1170px;
    padding: 80px 0px 70px;
    background-color: rgb(218, 207, 207);
    
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    
}


.pricing-wrap {
    max-width: 370px;
    display: flex;
    justify-content: space-between;
   
}
.pricing-item__tarif {
    padding: 9px 132px 14px 132px;
    font-size: 20px;
    color: #ffff;
    font-weight: 700;
  }
.pricing-item__coct {
    height: 100px;
    padding: 26px 144px 33px 135px;
    font-size: 35px;
    color: #ffff;
    font-weight: 700;
 }
.pricing-item__free {
    padding: 17px 120px 14px 120px;
    font-size: 14px;
    color: #ffff;
    font-weight: 400;
    }
.pricing-item {
    background-color:rgb(17, 6, 6);
    color: white; 
    border: 1px solid rgb(243, 239, 239);
    line-height: 40px;
    text-align: center;
    margin-bottom: 2px;
    /* margin-right: -40px;    */
    /* justify-content: space-between; */
    margin-left: 20px;
    margin-right: 20px;   
    
    }

.pricing-list {
    width: 340px;
    list-style: none;
    display: block;
    text-align: center;    
    font-size: 14px;  
    justify-content: space-between;
    margin-left: 20px;
    /* margin-right: 20px;   */
}
   
 li {
     width: 340px;
     height: 40px;
     padding: 10px 30px;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 4px;
  
  } 
 
