
.section {
    max-width: 1170px;
    height: 673px;  
    }
.container { 
    max-width: 1170px;
    padding: 0 15px; 
    /* background-color:rgb(193, 193, 216); */
    margin: auto;
    
}
.title {
    max-width: 1170px;
    max-height: 150px;
    font-size: 36px;
    text-align: center;  
    margin-bottom: -40px;
        }
.line {
    max-width: 170px;
    border-bottom: 1px solid #ec7979;
    margin-bottom: 40px;
    margin: auto;
  }
.discription {
    width: 1169px;
    height: 100px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 39px;
    font-size: 16px;
        }
.awesome-wrap {
    height: 391px;
    /* background-color:rgb(120, 112, 233); */
    display: flex;
}    
.awesome-item {
    width: 370px;
    /* height: 391px; */
    /* background-color:rgb(173, 172, 238); */
    margin:10px
}

.awesome-item-img {
      display: block;
      width: 170px;
      height: 170px;
      margin: auto;
      margin-bottom: 80px;
     }

.awesome-item-title {
      width: 369px;
      height: 100px;
      font-size: 24px;
      text-align: center;
      margin-bottom: -40px;
  }
  .awesome-item-text {
      width: 370px;
      height: 105px;
      font-size: 8px;
      text-align: center;
  }

